@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}


/* Shared Style */
.navbar, .banner, main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

main > section{
    margin: 130px 0; 
}

.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin: 32px 0 50px 0;
}

/* color */
.dark_2{
    color:#424242;
}
.dark_3{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary_color{
    color: #FF900E;
}
/* Heder style */

/* Navbar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
}
.nav_links{
    display: flex;
}

.nav_item{
    list-style: none;
    padding:0 30px;
    

}
.nav_link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color:#424242;
}


/* Banner Style */
.banner-contant{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
   
}
.banner-title{
    font-size: 4rem;
    text-align: center;
}
.banner-desctiption{
    font-size: 1rem;
    text-align: center;
  
}
.banner-image{
    width: 100%;
}


/* Teams style */

.teams{
    display: flex;
    align-items: center;
   
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
   
}
.team-image-container img{
    width: 100%;
}

.team-features{
    margin-left: 130px;
    max-width: 430px;
}

#Quicklist{
    font-weight: 500;
}

/* Feature style */
.feature_enjoy{
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.feature_enjoy  p{
    max-width: 580px;
   
}
.featuere-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.feature-image{
    position: relative;
    max-width: 100%;
}
.feature-image img{
    width: 100%;
}
#experience-badge{
    padding: 45px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    left:-92px;
    bottom: -70px;
}
.Experience-year{
    font-size: 4rem;
    font-weight: 700;
}


/* fact card Style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fact-number{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    
}

.fact-name{
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 80px;
  
}

    
/* Sponser style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}



.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}



/* footer style */

footer{
    background-color: rgba(255, 244, 231, 1);
    border-radius: 8px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
}
footer p{
    text-align: center;
    color: #424242;
    font-size: 1.25rem;
    padding: 40px;
}




/* madia style */
@media screen and (max-width:576px) {
    .navbar, .banner{
        flex-direction: column;
    }
    .nav_links{
        flex-direction: column;
    }
    .team-image-container, .fact-container{
        grid-template-columns: repeat(1,1fr);
     
    }
    .fact-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
    }
    .teams{
       flex-direction: column;
       
    }
    .team-features{
        margin-left: 20px;
     
    }
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 40px;
    }
    .feature_enjoy{
        flex-direction: column;
    }
    #experience-badge{
        position: static;
        margin-top:40px;
        margin-left: 20px;
    }
}

/* madium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .team-features{
        margin: 20px auto;
        
    }
    .sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 30px;
    }
    .fact-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 24px;
    }
    
}

